.fill {
  text-align: center;
}

.coord {
  outline: none;
  border-radius: none;
  padding: 0.4em 1em;
  border-radius: 20px;
  text-align: center;
}

.find {
  outline: none;
  border-radius: none;
  padding: 0.4em 1em;
  border-radius: 20px;
  background-color: red;
  color: white;
  text-align: center;
  width: max-content;
}

.find:hover {
  background-color: white;
  color: red;
}

.values {
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: white;
  background-color: darkcyan;
  border-radius: 7px;
}
